
/*
	font-family: 'Aclonica', sans-serif;
	font-family: 'Gravitas One', cursive;
	font-family: 'Notable', sans-serif;
	*/
h1{
	font-family: 'Pravda Newspaper';
}
.title_logo{
	height:45px;
}
img.title_logo, img.logo {
	vertical-align: top;
}
/*body {
    font-family: 'Gravitas One','Aclonica','Notable';
}
#mainNav {
	 font-family: 'Gravitas One','Aclonica','Notable';
}*/
#carouselExampleIndicators{
	margin-top: 80px;
}
.carousel-caption {
    top: 10%;
    bottom: 10%;
	
}

.carousel-caption .white_back{
	background-color: white;
	height: 45px;
	padding-top: 5px;
	opacity: 0.9;
	
}

.carousel-caption h1{
	padding-top: 300px;
	padding-top: 180px;
	
}.carousel-caption h3{
	padding-top: 100px;
	
}
@media only screen and (max-width: 992px){
	.carousel-caption h1{
		padding-top: 0px; 
		line-height: 1em;
	}
	.carousel-caption h3{
		padding-top: 0px; 
		font-size: 0.8em;
	}
	header.masthead img {
    height: 300px;
	filter: brightness(40%);

  }
}

.company hr{
	margin:0;
	max-width: 400px;
}
.company h5{
	margin:0px;
}
.company h4{
	margin-bottom:1px;
}
.navbar-brand {
	margin-top: 0px;
}
.phone_up{
	margin-left: 57px;
	margin-top:9px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.orange_l{
	color:#F05F40;
}
.yellow_l{
	color:rgb(252,232,54);
}
.green_l{
	color:#4aad55;
}
.blue_l{
	color:#1960c2;
}
.pink_l{
	/*color: RGB(222,27,75);*/
	color: RGB(234,81,119);
	color: RGB(254,37,92);
	color: RGB(239,90,90);
	color: RGB(255,15,15);
	color: RGB(225,0,0);
	color: RGB(196,0,0);
}
.carousel-caption ul{
	text-align:center;
}
.carousel-caption li{
	text-align: left;
}
#about img{
	margin-top:-5px;
}
.img-fluid {
    max-width: 100%;
 
}

/*.text-center h2{
	
	text-align:center !important; 
}
.text-center {
     text-align:justify !important; 
}*/